.upload {
  position: relative;
  height: 30vh;
  width: 30vh;
  background-color: lightgray;
  margin-bottom: 40px;

  &:hover .notice {
    display: block;
  }
}

.notice {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 5vw;
}

.details {
  height: 30vh;
}

.frame {
  position: relative;
  height: 30vh;
  width: 30vh;
  background-color: lightgray;
  margin-bottom: 40px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: auto;
  }
}
