.title {
  margin-top: 3vw;
  margin-bottom: 1vw;
}

.info {
  font-size: 1vw;
  font-weight: lighter;
  color: rgb(149, 149, 149);
  margin-bottom: 1vw;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
}

.items {
  width: 10%;
}

.imPossible,
.possible {
  padding: 1vw;
  text-align: center;
}

.imPossible {
  color: gray;
  background-color: #ebebeb;
}

.possible {
  cursor: pointer;
  color: black;
  border: 1px solid #ebebeb;

  &.checked {
    color: var(--scarlet);
    font-weight: bold;
    border: 1px solid var(--scarlet);
  }
}

.timeResult {
  width: 100%;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
  > div:nth-child(1),
  div:nth-child(2) {
    padding: 1vw 3vw;
    border: 1px solid black;
    border-radius: 30px;
  }
  > div:nth-child(3) {
    background-color: black;
    color: white;
    padding: 1vw;
  }
}
