.modalBackground {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  min-width: 500px;
  padding: 4vh 0 3vh;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.892);
  & > div:nth-child(1) {
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: 1vh;
  }
  & > div:nth-child(2) {
    font-size: 6vh;
    font-weight: bold;
    margin-bottom: 1vh;
    color: var(--scarlet);
  }
  & > div:nth-child(5) {
    margin-top: 2vh;
    display: flex;
    gap: 1vh;
    font-weight: bold;
  }
  & > div:nth-child(6) {
    font-weight: bold;
  }
}

.bang {
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-color: black;
}
