.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15% 10% 10%;
}

.myTitle {
  text-align: center;
  font-size: 3vw;
  color: var(--scarlet);
  margin-bottom: 50px;
}

.myPageSection {
  padding: 5vh;
}
