.main {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  color: var(--scarlet);
  // background-color: var(--scarlet);

  // background: linear-gradient(
  //   140deg,
  //   rgba(255, 84.15, 84.15, 0.5) 0%,
  //   rgba(255, 84.15, 84.15, 0) 100%
  // );
}

.title {
  a {
    font-family: "Tienne";
    font-size: 4vw;
  }
  // color: white;
}

.subTitle {
  position: relative;
  display: flex;
  font-size: 1.2vw;
}

.goIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-45%);
}

.icons {
  font-size: 2.5vw;
}

.login {
  flex: 1;
  display: flex;
  div {
    margin-left: auto;
  }
}

.beforeLogin,
.afterLogin {
  position: relative;

  &:hover {
    .logBtn {
      display: block;
    }
  }
}

.logBtn {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3vw 0.5vw;
  border-radius: 10px;
  font-size: 0.7vw;
  font-weight: bold;
  animation: horizontal 1s ease-in-out infinite;

  &::before {
    position: absolute;
    top: -1.3vw;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border-top: 1vw solid transparent;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
  }
}

.beforeLogin {
  .logBtn {
    color: rgba(67, 47, 46, 1);
    background-color: rgba(255, 228, 0, 1);

    &::before {
      border-bottom: 0.5vw solid rgba(255, 228, 0, 1);
    }
  }
}

.afterLogin {
  .logBtn {
    color: white;
    background-color: rgb(0, 0, 0);

    &::before {
      border-bottom: 0.5vw solid rgb(0, 0, 0);
    }
  }
}

.alarm {
  cursor: pointer;
}

.alarmModal {
  position: absolute;
  right: 6vh;
  margin-top: 1vh;
  padding: 2vh;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
}

@keyframes horizontal {
  0% {
    margin-top: 4px;
  }
  50% {
    margin-top: 6px;
  }
  100% {
    margin-top: 4px;
  }
}
