.container {
  width: 100%;
  padding: 10% 15% 15%;
}

.searchTitle {
  font-size: 8vw;
  font-family: "Oooh Baby";
  color: var(--scarlet);
}

.searchInput {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 5vh;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--scarlet);
  padding: 0 1vw;
  input {
    width: 100%;
    height: 100%;
    border-width: 0;
    font-size: 1.5vw;
    outline: none;
  }
}

.icons {
  margin-bottom: 2px;
  font-size: 2.5vw;
  color: var(--scarlet);
}

.result {
  margin-top: 2vh;
  font-size: 1.3vw;
  color: gray;
}
