.container {
  padding: 0 10%;
}

.title {
  text-align: center;
  font-size: 2vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.btnArea {
  margin-top: 5vh;
  display: flex;
  gap: 2vw;
}

.modifyBtn {
  flex: 1;
  padding: 1vh;
  text-align: center;
  background-color: var(--scarlet);
  color: white;
}

.quitBtn {
  flex: 1;
  padding: 1vh;
  text-align: center;
  color: var(--scarlet);
  border: 1px solid var(--scarlet);
}
