.main {
  position: relative;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: var(--scarlet);
  opacity: 0.3;
}

.addressItem {
  display: flex;
  padding: 0 4vh;
  align-items: center;
  & > div:nth-child(1) {
    width: 150px;
  }
  & > div:nth-child(2) {
    margin: 2vh 0;
  }
}

.addressCheck {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.input,
.inputNum,
.inputAddress {
  padding: 2vh 1vh;
}

.input,
.inputNum {
  width: 13vw;
  height: 30px;
}

.addressArea {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  & > div:nth-child(1) {
    display: flex;
    gap: 0.5vw;
    & div {
      cursor: pointer;
      width: 6vw;
      height: 30px;
      background-color: var(--scarlet);
      color: white;
      font-size: 0.8vw;
      text-align: center;
      line-height: 30px;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }
}

.inputAddress {
  height: 30px;
}

.addressSearch {
  position: absolute;
  top: 0;
  right: 0;
}
