.container {
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;
}

.alarm {
  font-size: 1vw;
  display: flex;
  align-content: center;
  gap: 0.3vw;

  font-weight: bold;
  > div:nth-child(3) {
    cursor: pointer;
  }
}

.on {
  color: rgb(75, 253, 75);
}

.off {
  color: red;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6vw;
  margin-top: 0.6vw;
  margin-bottom: 1vw;
}

.text {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  font-size: 0.8vw;
  box-shadow: 0 0 3px 1px rgb(212, 212, 212);
  border-radius: 5px;
  padding: 0.5vw;
  > div:nth-child(1) {
    color: dimgray;
    font-size: 0.7vw;
  }
  > div:nth-child(2) {
    font-size: 0.7vw;
    font-weight: bold;
  }
  > div:nth-child(3) {
    color: rgb(8, 8, 8);
  }
}
