.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 23vw;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.sold {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.soldLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--scarlet);
  font-size: 3vw;
  font-family: "Oooh Baby";
  font-weight: bold;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 1vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 2.5vw;
    width: 80%;
    height: 2px;
    background-color: var(--scarlet);
  }
}

.companyMini {
  display: flex;
  gap: 0.5vh;
  margin: 1vh 0 0.3vh;
  & div:nth-child(1) {
    font-size: 1vw;
  }
  & div:nth-child(2) {
    font-size: 0.8vw;
    font-weight: bold;
  }
}

.name {
  font-size: 1.4vw;
}

.price {
  font-size: 0.7vw;
  color: gray;
  text-decoration: line-through;
}

.salePrice {
  display: flex;
  align-items: center;
  gap: 0.5vh;
  font-weight: bold;
  & > div:nth-child(1) {
    font-size: 1.2vw;
    color: var(--scarlet);
  }
  & > div:nth-child(2) {
    font-size: 1vw;
  }
}
