.container {
  width: 100%;
  padding: 5% 15% 15%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 10vh;
  font-family: "Oooh Baby";
  color: var(--scarlet);
}

.sectionTwo {
  margin-top: 20vh;
}

.titleTwo {
  font-size: 10vh;
  font-family: "Oooh Baby";
}

.categoryArea {
  margin-top: 5vh;
}
