.container {
  display: flex;
  flex-direction: column;
}

.addBtn {
  align-self: flex-start;
  background-color: black;
  color: white;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

.goList {
  width: fit-content;
  background-color: black;
  color: white;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

.listArea {
  width: 100%;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
