.container {
  position: relative;
  height: 60vh;

  & > div:nth-child(2) {
    flex: 2;
  }
}

.section {
  z-index: 10;
  position: absolute;
  width: 25vw;
}

.wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 60vh;
  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.itemArea {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vw 0 2vw 5vw;
  > div {
    width: 100%;
  }
}

.swiperItem {
  width: 90%;
  height: 40vh;
  padding: 4vh;
  display: flex;
  align-content: center;
}

.item {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-right: 10vh;
  img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}
